In [2]:
import math

In [6]:
math.sqrt(25)

5.0

In [7]:
math.pi

3.141592653589793

In [8]:
import math as mt

In [9]:
mt.sqrt(25)

5.0

In [10]:
from numpy import random

In [11]:
import numpy as np

In [14]:
# uniform random numbers in [0,1]
dataOne = random.rand(5,5)

In [15]:
dataOne

array([[0.69738549, 0.94503355, 0.20490481, 0.14465271, 0.45164431],
       [0.69657569, 0.30224105, 0.91186284, 0.61284876, 0.27479667],
       [0.74276172, 0.30580043, 0.49948488, 0.47954125, 0.97260596],
       [0.4398142 , 0.93925336, 0.55290864, 0.98239556, 0.55647116],
       [0.76434433, 0.85102802, 0.15988606, 0.92439693, 0.83895422]])

In [16]:
np.mean(dataOne)

0.6100637036502286

In [18]:
print('I Love data Science')

I Love data Science

In [25]:
varOne = 25

In [26]:
varTwo = 25.0

In [27]:
varThree = varOne + varTwo

In [28]:
print(varThree)

50.0

In [29]:
var_One = 25

In [41]:
var_Two = ' Hello'

In [42]:
var_Three = str(var_One) + var_Two

In [43]:
print(var_Three)

25 Hello

In [45]:
tel = {'jack': 4098, 'sape': 4139}

In [46]:
tel['jack']

4098

In [47]:
varDict = {'Sally' :25, 'Billy': 32, 'Don' : 56, 'Mike' : 29, 'Lisa' : 38}

In [75]:
locals().update(varDict)

In [78]:
avgMaleAge = np.mean([Billy, Don, Mike])

In [79]:
print(avgMaleAge)

39.0

In [80]:
mt.sqrt(Sally)

5.0

In [81]:
mt.gcd(Billy,Lisa)

2

In [83]:
mt.pi * Lisa

119.38052083641213